<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static '/wishes_exam/css/styles.css' %}"/>
    <title>The Wishing App</title>
</head>
<body>
    <h2 class="header">Hello {{user.first_name}}! Make a wish!</h2>
    <div class='right'>
        <a href="/logout">Logout</a>
    </div>
    {% if messages %}
        <div>
        {% for message in messages %}
            <p class="red">{{ message }}</p>
        {% endfor %}
        </div>
    {% endif %}
    <br><br>
    <form class="border" action="/wishes/new/add" method="post">
    {% csrf_token %} 
        <label for="item">I wish for: </label>
        <input type="text" name="item" placeholder=" Ex. Mercedes-Benz"><br><br>
        <label for="description">Description: </label>
        <input type="text" name="description" placeholder=" Ex. convertible"><br><br>
        <button><a href="/wishes">Cancel</a></button>
        <input type="submit" value="Submit">
    </form>
</body>
</html>